/* CSS containers for PicoLisp */
.container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1080;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 86%;
    padding: 0; }
}

@media (min-width: 800px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1000px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1080px;
  }
}

