.banner {
  position: relative;
  z-index: 1;
  border-radius: 8px;
}

.banner:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0; 
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url("../img/Desktop/pl-code.jpg") no-repeat;
  opacity: 0.08;
}
