body {
  font-family: 'Inconsolata';
}

.blue {
  color: #6067af;
}

/*******/
/* nav */
nav
{
  background: black;
  padding-top: 8px;
  padding-bottom: 8px;
}

nav img {
  padding-top: 8px;
}

nav ul {
  margin-bottom: 4px
}

nav a {
  color: white;
  text-transform: uppercase;
  font-size 1.1em;
  text-decoration: none;
}

nav .icon-link {
  padding-right: 8px;
}

.mob-pt-s {
  padding-top: 0px;
}

@media screen and (max-width: 40em) {
  nav a {
    float: left;
  }
  .mob-pt-s {
    padding-top: 8px;
  }
}


/**********/
/* header */
header 
{
  background: black;
}

header h1
{
  color: white;
  font-size: 5em;
}

header h3 
{ 
  color: white;
  font-size: 3em;
}

@media screen and (min-height: 768px) {
  nav img {
    content: '../img/icon/PicoLisp_Icon_medium.png'
  }
}

/*********************/
/* propaganda stripe */
.stripe
{
  background: black;
  color: white;
}

.stripe h1
{
  font-size 2em;
}
/*************/
/* demo repl */
textarea {
  overflow: auto;
  resize: none;
}

fieldset {
  border: none;
  font-family: 'Inconsolata';
}

.try-it-line
{
  width: 100% !important;
}

.try-it-view,
.try-it-view:active
{
  border: none;
}
