body {
  font-family: 'Inconsolata';
}

.blue {
  color: #6067af;
}

/*******/
/* nav */
nav
{
  background: black;
  padding-top: 8px;
  padding-bottom: 32px;

}

nav img {
  padding-top: 8px;
}

nav ul {
  margin-bottom: 4px
}

nav a {
  color: white;
  text-transform: uppercase;
  font-size 1.4em;
  text-decoration: none;
}

nav .icon-link {
  padding-right: 8px;
}

.mob-pt-s {
  padding-top: inherit;
}

@media screen and (max-width: 40em) {
  nav {
    padding-bottom: 4px;
  }
  nav a {
    float: left;
  }
  .mob-pt-s {
    padding-top: 8px;
  }
}


/**********/
/* header */
header 
{
  background: black;
  padding-bottom: 32px;
}

@media screen and (max-width: 40em) {
  header {
    padding-bottom: 4px; 
  }
}

header h1
{
  color: white;
}

header h3 
{ 
  color: white;
}


/*********************/
/* propaganda stripe */
.stripe
{
  background: black;
  color: white;
}

/*************/
/* demo repl */
textarea {
  overflow: auto;
  resize: none;
}

fieldset {
  border: none;
  font-family: 'Inconsolata';
}

.try-it-line
{
  width: 100% !important;
}

.try-it-view,
.try-it-view:active
{
  border: none;
}
